html,body,section,.section-left,.section-right{color:#222222;height:100%;font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;}
section{width:100%;margin:0 auto;}
.section-left{width:20%;float: left;background-color: #222222;overflow: auto;}
.section-right{width:79.5%;float: left;}
.title{text-align: center;line-height:100px;}
.title span{display: inline-block;color: #8ED9FC;width:50%;border-bottom: 1px solid #8ED9FC;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.doc-list{padding:10px;}
.doc-list li{line-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color:#939696;}
.logo img{width:100px;height:100px;border-radius: 100px;}
.logo{text-align: center;margin-top: 100px;}
.logo_text{text-align: center;margin-top:20px;font-weight:bolder;color: #222222;}
.logo_text2{font-size: 14px;}
.aticle-title{text-align: center;font-size: 20px;color:#222222;margin-top: 30px;font-weight:bolder;}
.aticle-time{font-size: 14px;text-align: center;margin-top:10px;}
.aticle-cont{margin-top: 20px;padding: 0px 10px;}
.aticle-cont p{line-height: 27px;margin: 15px 0px;text-align: justify;}
.aticle-cont p img{width:100%;text-indent: 0px;}
.slimScrollBar{opacity: 0!important;}
blockquote{padding: 10px;background-color: #222222;color: #ffffff;}
